@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    @apply prose max-w-3xl
    prose-a:text-indigo-500
    hover:prose-a:text-indigo-600
    prose-strong:text-current
    dark:text-gray-300
    prose-headings:dark:text-white
    dark:hover:prose-a:text-indigo-400;
}
